<nav>
    <p class="title" translate>Les Objets sont nos amis</p>
    <app-language-selector></app-language-selector>
    <!-- Menu utilisateur -->
    <div class="user-menu" *ngIf="isAuthenticated$ | async as isAuth">
        <button (click)="menuHidden = !menuHidden">Menu</button>

        <div class="popper-menu-content" *ngIf="!menuHidden" style="width: 150px">
            <ul>
                <li>
                    <a routerLink="/profile" (click)="menuHidden = true" translate>Profile</a>
                </li>
                <li>
                    <a routerLink="/auth/logout" (click)="menuHidden = true" translate>Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
